<h3>Call contract on-chain (JSVM enclave)</h3>
<p>Here you can call a contract deployed to a JSVM enclave. Standalone contracts can be called like any other NEAR smart contract using e.g. NEAR CLI.</p>
<p>
    <mwc-textfield label="Contract name" id="contractnameinput"></mwc-textfield>
    <mwc-textfield label="Method name" id="methodnameinput"></mwc-textfield>
    <mwc-textfield label="arguments (JSON)" id="argsinput"></mwc-textfield>
    <mwc-textfield id="depositinput" label="attached deposit" type="number"></mwc-textfield>
</p>
<p>
    <mwc-button raised id="callcontractbutton">Call contract</mwc-button>
</p>
<h3>Contract output</h3>
<p>

<div class="outputarea">
    <pre style="white-space: pre-wrap;"><code id="contractoutput">

                    </code></pre>
</div>
</p>