<style>
    #container {
        margin: auto;
        margin-top: 20px;
        max-width: 1024px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    button {
        font-size: 30px;
        border: none;
        padding: 10px;
    }

    #imagediv img {
        max-width: 100%;
    }
</style>
<div id="container">
    <div id="infotext"></div>
    <div id="imagediv"></div>
    <button id="enterbutton">New game</button>
</div>