<p>
    <code-editor id="sourcecodeeditor"></code-editor>
</p>

<p>
  <mwc-button raised id="savebutton" icon="save">Save</mwc-button>        
  <mwc-button raised id="deploybutton">Deploy</mwc-button>        
</p>

<h3>Simulation</h3>
<p>
  <mwc-select id="methodselect" label="method"></mwc-select>
  <mwc-textfield id="argumentsinput" label="arguments (JSON)"></mwc-textfield>
</p>
<p>
  <mwc-button raised id="simulatebutton" icon="play_arrow">Run</mwc-button>        
<p>

<div class="outputarea">
    <pre>
      <code id="simulationoutput">

      </code>
    </pre>
</div>

<mwc-dialog id="deploy-contract-dialog" heading="Deploy contract?">
    <div>This will overwrite the existing contract.</div>
    <mwc-button
        slot="primaryAction"
        dialogAction="deploy">
      Deploy
    </mwc-button>
    <mwc-button
        slot="secondaryAction"
        dialogAction="cancel">
      Cancel
    </mwc-button>
</mwc-dialog>

<mwc-snackbar id="compileErrorSnackbar"
              labelText="Compile error. See simulation output">
  <mwc-icon-button icon="close" slot="dismiss"></mwc-icon-button>
</mwc-snackbar>
