<mwc-drawer hasHeader type="modal">
    <span slot="title">NEAR JS Playground</span>
    <span slot="subtitle">subtitle</span>
    <div class="drawer-content">
      <mwc-list activatable>
        <mwc-list-item selected activated onclick="goToPage('code')">Code</mwc-list-item>
        <mwc-list-item onclick="goToPage('callcontract')">Call contract</mwc-list-item>
      </mwc-list>
    </div>
    <div slot="appContent">
        <mwc-top-app-bar>
            <mwc-icon-button icon="menu" slot="navigationIcon" id="toggleDrawerButton"></mwc-icon-button>
            <div slot="title">NEAR JS playground</div>
            <mwc-icon-button icon="file_download" slot="actionItems"></mwc-icon-button>
            <mwc-icon-button icon="favorite" slot="actionItems"></mwc-icon-button>
            <div><!-- content --></div>
        </mwc-top-app-bar>

        <div class="container" id="mainContainer">
            <p>
                Open the menu to edit code for your Javascript contract, deploy, or call it on-chain.
            </p>
        </div>
    </div>
</mwc-drawer>
