<mwc-drawer hasHeader type="modal">
    <span slot="title">NEAR JS</span>
    <span slot="subtitle" id="loggedinuserspan"></span>
    <div class="drawer-content">
      <mwc-list activatable id="leftmenu">
        <mwc-list-item id="code-menuitem" selected activated onclick="goToPage('code')">Code</mwc-list-item>
        <mwc-list-item id="callcontract-menuitem" onclick="goToPage('callcontract')">Call contract</mwc-list-item>
        <template id="logout-menuitem-template">
            <mwc-list-item id="logout-menuitem" graphic="avatar" icon="logout">
                <span>Logout</span>
                <mwc-icon slot="graphic">logout</mwc-icon>
            </mwc-list-item>
        </template>
        <template id="login-menuitem-template">
            <mwc-list-item id="login-menuitem" graphic="avatar" icon="login">
                <span>Login</span>
                <mwc-icon slot="graphic">login</mwc-icon>
            </mwc-list-item>
        </template>
      </mwc-list>
    </div>
    <div slot="appContent">
        <mwc-top-app-bar>
            <mwc-icon-button icon="menu" slot="navigationIcon" id="toggleDrawerButton"></mwc-icon-button>
            <div slot="title"></div>
            
            <div class="container" id="mainContainer">
                <h1>Javascript smart contracts on NEAR</h1>
                <p>
                    <a href="https://github.com/near/near-sdk-js" target="_blank">near-sdk-js</a> makes it possible to deploy Javascript smart contracts on <a href="https://near.org" target="_blank">NEAR protocol</a>.
                    This web application let you write, simulate, deploy and call your javascript smart contracts in the web browser.                    
                </p>
                <p>
                    Note: Currently you can only create low-level ( <a href="https://github.com/near/near-sdk-js/tree/master/examples/low-level" target="_blank">see examples here</a> ) contracts from here.
                </p>
                <p>Open the menu to edit code for your Javascript contract, deploy, or call it on-chain.</p>
            </div>
        </mwc-top-app-bar>
    </div>
</mwc-drawer>